# Default values for each environment.

## @param k8sVersion Override Kubernetes version
##
k8sVersion: "1.21.1"

strategyexecutor:
  enabled: true
  image: rg.fr-par.scw.cloud/comentarismoregistry/strategyexecutor
  tag: latest
  # set to never when using local images
  pullPolicy: Always
  envsec:
    DATABASE_URL_MAIN: DATABASE_URL_MAIN
    DATABASE_URL_READONLY: DATABASE_URL_READONLY
  env:
    PORT: 9898

healthcheck:
  url: /healthcheck
  port: 9898

service:
  enabled: true
  type: ClusterIP
  port: 9898
  externalPort: 9898
  internalPort: 9898


ingress:
  enabled: true
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/proxy-buffer-size: "8k"
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/proxy-body-size: 25m
  path: /
  pathType: ImplementationSpecific
  tls:
    - hosts:
        - sapi.biidin.com
      secretName: biidin-com-tls
  hosts:
    - sapi.biidin.com
  servicePort: 9898

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
